server:
  port: 8080
  origin: "http://localhost:8080"
postgres:
  host: localhost
  port: 5432
  username: postgres
  password: password
  database: chat_socio
  sslmode: disable

redis:
  host: localhost
  port: 6379
  password: ""
  database: 0

websocket:
  origin: "http://localhost:8080"

jwt:
  secret: "ASDWRTGHJKLQWERTYUIOPZXCVBNMASDFGHJKLQWERTYUIOPZXCVBNM"
  issuer: "chat_socio"
  expiration: 3600

nats:
  address: "nats://localhost:4222"

observability:
  tracing_enabled: true
  jaeger_endpoint: localhost:4318
  jaeger_service: "chat-socio"

minio:
  endpoint: "localhost:9000"
  access_key: "ROOTNAME"
  secret_key: "CHANGEME123"
  use_ssl: false
  public_endpoint: "http://localhost:9000"

fcm:
  credentials_file: "../fcm-sa.json"
  project_id: "notification-litechat"
# logging:
#   level: "info"
#   format: "json"
#   output: "stdout"

# metrics:
#   enabled: true
#   port: 9090
#   path: "/metrics"

# tracing:
#   enabled: true
#   endpoint: "http://localhost:14268"
#   service_name: "chat-service"
#   sample_rate: 1.0
