server:
  port: 8080
  origin: "http://localhost:8080"
postgres:
  host: postgres
  port: 5432
  username: postgres
  password: password
  database: chat_socio
  sslmode: disable

redis:
  host: redis
  port: 6379
  password: ""
  database: 0

websocket:
  origin: "http://localhost:8080"

jwt:
  secret: "ASDWRTGHJKLQWERTYUIOPZXCVBNMASDFGHJKLQWERTYUIOPZXCVBNM"
  issuer: "chat_socio"
  expiration: 3600

nats:
  address: "nats://nats:4222"

observability:
  tracing_enabled: true
  jaeger_endpoint: jeager:4318
  jaeger_service: "chat-socio"

minio:
  endpoint: "minio:9000"
  access_key: "ROOTNAME"
  secret_key: "CHANGEME123"
  use_ssl: false
  token: ""
  public_endpoint: "http://localhost:9000"

fcm:
  credentials_file: "fcm-sa.json"
  project_id: "notification-litechat"
